!!! strict
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset='utf-8')
    meta(name='msapplication-window', content="width=device-width;height=device-height")
    //link(rel="apple-touch-icon", href="favicon-57.png")
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/base.css?v15')
    script(type='text/javascript', src='/js/jquery-1.7.min.js')
    script(type='text/javascript', src='/js/bootstrap-twipsy.js')
    script(type='text/javascript', src='/js/bootstrap-popover.js')
    script(type='text/javascript', src='/js/bootstrap-modal.js')
    script(type='text/javascript', src='/js/bootstrap-alerts.js')
    script(type='text/javascript', src='/js/base.js?v3')
    script
      $(function(){ $(".alert-message").alert() });
  body(style="padding-top:60px;")
    .topbar("data-dropdown"="dropdown")
      .topbar-inner
        .container
          h3
            a(href="/") NodeBus
          ul.nav.secondary-nav
            - if (currentUser)
              li
                a(href="/welcome") Welcome!
              //li
                a(href="/account")= currentUser.name
                em= (new Date())
              li
                a(href="/logout") 退出
            - if (!currentUser)
              //li
                a(href="/signup") 注册
          - if (!currentUser)
            - var name = (typeof login == "undefined") ? "" : login;
            form.pull-right(method='POST', action="/login")
              input.input-small(placeholder="用户名", type='text', name='login', value=name)
              input.input-small(placeholder="密码", type='password', name='password', value='')
              button.btn(type='submit', value='登录') 登录
    .container
      - if (error.length)
        .alert-message.error
          a.close(href="#") &times;
          p= error.join(",")
      - if (info.length)
        .alert-message.success
          a.close(href="#") &times;
          p.info= info.join(",")
      != body
      footer
        p &copy; NodeBus 2011
          span.contacts
            span
              img(src="http://qun.qq.com/favicon.ico")
              | Q群 12222225
            a(href="http://weibo.com/nodebus", target="_blank") 
              img(src="http://weibo.com/favicon.ico")
              @NodeBus
  - if(currentUser)
    script(type='text/javascript', src='http://blog.webim20.cn/webim/custom.js.php?domain=nodebus.com&title=在线技术支持&theme=hot-sneaks')
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27731764-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

